

#jogo {
    width: 90%;
    background: rgb(61, 176, 211);
    border: 2px solid red;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.torres {
    width: 30%;
    height: 100px;
    border: 1px solid black;
    background: rgb(0, 255, 21);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.base {
    width: 20px;
    height: 80%;
    border: 1px solid rgb(30, 226, 161);
    background: rgb(22, 22, 22);
}