

#jogo {
    width: 90%;
    background: rgb(61, 176, 211);
    border: 2px solid red;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.torres {
    width: 30%;
    height: 200px;
    border: 1px solid black;
    background: rgb(0, 255, 21);
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    
   
}

.base {
    width: 20px;
    height: 80%;
    border: 1px solid rgb(30, 226, 161);
    background: rgb(22, 22, 22);
    
}



.discos {
    width: 20px;
    background-color: gainsboro;
    height: 20px;
    border: 1px solid salmon;
    margin: 0 auto;
    display:  flex;
}

.disco1 {
    width: 120px;
    height: 25px;
   background-color: blueviolet;
   border: 1px solid white;
}

.disco2 {
    width: 100px;
    height: 25px;
   background-color: red;
   border: 1px solid white;

}

.disco3 {
    width: 80px;
    height: 25px;
   background-color: yellow;
   border: 1px solid white;

}

.disco4 {
    width: 60px;
    height: 25px;
   background-color: blue;
   border: 1px solid white;

}